<template name = "login">
  <div class="container">
    <div style="width:600px;margin:auto;">
<div style="padding:60px;padding-bottom:0;margin-bottom:0;">
  <hr>
  <h1>Hello.</h1>
  <p>Sorry to be a pain but we need you to Register and Log-in as we need a unique identifier for each participant. It won't take two sesonds though and we won't use your details in any way, we promise.</p>
<hr>
</div>
    <div class="login-form" style="width:600px;padding-top:30px;">
        {{> atForm}}
        </div>
    </div>
    </div>
</template>
