<template name ="inputVideoForm">
  <div class="container">
    <header></header>
    <div style="width:600px;margin:auto;">
      <div class="well">
      <h1>Add Video</h1>
      {{> quickForm collection="Videos" id="inputVideoForm" type="insert"}}
      </div>
      <hr>
      <p>Technical questions can be directed to <a href="mailto:skywriter@gmail.com">Tommy Sweeney</a> Questions of a more scholarly nature can be directed to <a href="mailto:charles.crook@nottingham.ac.uk">Charles Crook</a>.</p>
      <p>This software is &copy; LSRI 2015</p>
    </div>
   </div>
</template>
