#video-player-container {
    width: 800px;
    background: black;
    margin-bottom: 40px;
}

#video-control {
    border-width: 1px;
    border-color: #eee;
    border-style: solid;
    border-top: 0;
    display: inline-block;
    width: 100%;
    min-height: 80px;
    background: white;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    vertical-align: bottom;
    bottom: 0;
    left: 0;
    corner-radius: 8px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.4px 0;
  vertical-align: middle;
  display: inline-block;
  padding: 6px 12px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 9.2px;
  cursor: pointer;
  box-shadow: 1px 1px 3.4px #938c85, 0px 0px 1px #9f9993;
  background: #fffff0;
  border-radius: 0px;
  border: 0.1px solid #ffe8e3;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.7px 0.7px 3.4px #756054, 0px 0px 0.7px #846c5f;
  border: 2.9px solid #ffffff;
  height: 26px;
  width: 26px;
  border-radius: 2px;
  background: #ebe5de;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 9.2px;
  cursor: pointer;
  box-shadow: 1px 1px 3.4px #938c85, 0px 0px 1px #9f9993;
  background: #fffff0;
  border-radius: 0px;
  border: 0.1px solid #ffe8e3;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.7px 0.7px 3.4px #756054, 0px 0px 0.7px #846c5f;
  border: 2.9px solid #ffffff;
  height: 26px;
  width: 26px;
  border-radius: 2px;
  background: #ebe5de;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 9.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f0f000;
  border: 0.1px solid #ffe8e3;
  border-radius: 0px;
  box-shadow: 1px 1px 3.4px #938c85, 0px 0px 1px #9f9993;
}
input[type=range]::-ms-fill-upper {
  background: #fffff0;
  border: 0.1px solid #ffe8e3;
  border-radius: 0px;
  box-shadow: 1px 1px 3.4px #938c85, 0px 0px 1px #9f9993;
}
input[type=range]::-ms-thumb {
  box-shadow: 0.7px 0.7px 3.4px #756054, 0px 0px 0.7px #846c5f;
  border: 2.9px solid #ffffff;
  height: 26px;
  width: 26px;
  border-radius: 2px;
  background: #ebe5de;
  cursor: pointer;
  height: 9.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #fffff0;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
